<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% endblock %}
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css'>
    <link href="/vendor/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    {% block body %}{% endblock %}

    <script src='/vendor/jquery/dist/jquery.min.js'></script>
    <script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/vendor/riot/riot+compiler.min.js'></script>

    <script>
      var Page = {
        listeners: [],
        on: function(evt, func) {
          this.listeners.push({event: evt, func: func});
        },

        fire: function(evt, message) {
          this.listeners.forEach(function(listener) {
            if(evt == listener.event) {
              listener.func(message);
            }
          })
        }
      };

      $(document).ready(function() {
        riot.compile().then(function() {
          Page.fire('ready');
        });
      });

      function _getRiotComponentSymbol(ele) {
        var symbols = Object.getOwnPropertySymbols(ele);
        for(var i = 0; i < symbols.length; ++i) {
          if(symbols[i].toString() == 'Symbol(riot-component)') {
            return symbols[i];
          }
        }

        return null;
      }

      riot.install(component => {
        component.tag = function(name) {
          var ele = this.$(name);
          var symbol = _getRiotComponentSymbol(ele);
          return symbol ? ele[symbol] : null;
        };

        component.tags = function(name) {
          return this.$$(name).map(ele => {
            var symbol = _getRiotComponentSymbol(ele);
            return symbol ? ele[symbol] : null;
          }).filter(tag => tag != null);
        };
      });
    </script>

    {% block footer %}{% endblock %}
  </body>
</html>
